body {
    margin: 0;
    padding: 0;
}
.wrapper {
    border: 2px solid green;
    height: 169px;
    overflow: hidden;
}
img {
    transition: all 1.1s ease;
    transform-origin: 50px 100px;
}
img:hover {
    /*transform: rotate(-150deg);*/
    /*transform: scale(2.1,3.2);*/
    /*transform: scaleX(1.5);*/
    /*transform: scaleY(1.4);*/
    /*transform: translate(50px, 70px);*/
    /*transform: translateX(57px);*/
    /*transform: translateY(57px);*/
    /*transform: skew(21deg,21deg);*/
    /*transform: skewX(15deg);*/
    /*transform: skewY(25deg);*/
    /*transform: rotate(10deg) scale(1.2) skew(10deg);*/
    transform: rotate(90deg);
}